@import "../../../style/basic.scss";

.article_outconatiner {
    width: 85vw;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;

    h1,
    h2,
    h3,
    h4,
    h5,
    li,
    p {
        color: var(--font-default);
    }

    .articleContainer {
        background-color: var(--bg-article);
        width: 60vw;
        padding: 2rem 1rem 2rem 1rem;
        border-radius: 0.8rem;
        margin: 0 0 2rem 0;

        img {
            display: block;
            max-width: 50vw;
        }
    }
}

.cataContainer {
    position: sticky;
    min-width: 15rem;
    top: 50px;
    padding: 0 10px 10px 10px;
    margin-left: 40px;
    padding-left: 10px;
    background-color: var(--bg-article);
    border-radius: 1rem;

    .cataTitle {
        font-weight: 500;
        padding: 10px 0 0px 0;
        text-align: center;
        border-bottom: 1px solid black;
        margin: 10px;
    }

    a {
        color: rgb(47, 175, 145);
        font-size: 0.9rem;
    }
}

.detail {
    display: flex;
    align-items: center;
    float: right;
    color: var(--font-default);

    .article-icon {
        margin-left: 10px;
        display: inline;
        cursor: pointer;
        border-color: var(--font-default);

    }

}

.hljs {
    background-color: var(--codebg-color);
    color: var(--codedefault-color);
    border-radius: 5px;
    padding: 15px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.keyword {
    color: var(--keyword-color);
}

.class-name,
.property,
.literal-property {
    color: var(--classname-color);
}

.function,
.number {
    color: var(--function-color);
}

.punctuation {
    color: var(--punctuation-color);
}

.operartor {
    color: var(--operator-color);
}

.string {
    color: var(--string-color);
}