.intro_card {
    h3{
        color:var(--font-default)
    }
    width: 100%;
    border-radius: 1rem;
    background-color: var(--bg-articlelist);
    padding: 1rem;
    margin:1rem 0 0 0;
    color:var(--font-default)
}