$br-color: #F5F5F5;
$font-hover-color:#3578e5;
$back-button-color:#4d4d4d;
$font-grey-color:#606770;

@media only screen and (min-width:1200px) {

    html {
        font-size: 20px;
        scroll-behavior: smooth;
        color: var(--font-default);

    }
}

:root {
    --bg-default: #F5F5F5;
    --font-default: #242526;
    --bg-articlelist: white;
    --bg-article: rgb(241, 237, 237);
    --font-button-hover: rgb(243, 243, 245);
    --comment-color: rgb(167, 166, 165);
    --comment-bg: white;
    --bg-article1: rgb(241, 237, 237);
    --themeButton-hover: rgb(233, 231, 231);
    --reply-bg: #f4f5f5;
    --replyed-content: #eaecf1;
    --keyword-color: #cc99cd;
    --classname-color: #f8c555;
    --function-color: #f08d49;
    --punctuation-color: #ccc;
    --operator-color: #67cdcc;
    --string-color: #7ec699;
    --codebg-color: #2d2d2d;
    --codedefault-color: #ccc;
    --inputArea--bg-color: rgba(242, 240, 237, 0.891);
    --inputArea--color: black;
    --comment-border-color: whitesmoke;
    --svg-color:black;
}

:root[data-theme="dark"] {
    --bg-default: #242526;
    --font-default: rgb(224, 220, 220);
    --bg-articlelist: #2f3133;
    --bg-article: #2f3133;
    --font-article: #F5F5F5;
    --font-button-hover: rgb(78, 77, 76);
    --comment-color: #d6d0d0;
    --comment-bg: #2f3133;
    --bg-article1: lavenderblush;
    --themeButton-hover: rgb(99, 96, 96);
    --reply-bg: rgb(119, 116, 116);
    --replyed-content: rgb(68, 67, 67);
    --keyword-color: #859900;
    --classname-color: #268bd2;
    --function-color: #268bd2;
    --punctuation-color: #586e75;
    --operator-color: #67cdcc;
    --string-color: #2aa198;
    --codebg-color: #fdf6e3;
    --codedefault-color: #657b83;
    --inputArea--bg-color: rgb(71, 66, 66);
    --inputArea--color: #fff;
    --comment-border-color: rgb(155, 152, 152);
    --svg-color:rgb(197, 192, 192);
}

.root {
    background-color: var(--bg-default);
}

.icon {}

.dancingHeart {}