.userAnchor {
    &:hover {
        cursor: pointer;
    }

}

.logoutList {
    position: absolute;
    border: 1px solid grey;
    background-color: white;
    width: 4rem;
    right: 7rem;
    z-index: 2;

    p {
        margin: 0;
        padding: 5px 0 0 5px;
        cursor: pointer;

        &:hover {
            background-color: whitesmoke;

        }
    }



}

.logoutList_show {
    display: none;
}