@import "../../style/basic.scss";

.commentWrapper {
    width: 65vw;
    margin: 0 auto;
    min-height: 90vh;
}

@media only screen and (max-width:1200px) {

    .commentWrapper {
        width: 95vw;
        margin: 0 auto;
    }
}