@import "@/style/basic.scss";

.formContainer {
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;

    .darkMode {
        label {
            color: var(--font-default);
        }

        textarea {
            background-color: var(--bg-default);
            color: var(--font-default);
        }
        input {
            background-color: var(--bg-default);
            color: var(--font-default);
        }
    }

}

.confirmButton {}