.textAreaContainer {
    display: flex;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 1rem;
    justify-content: center;
    margin: 0 auto;

    #inputArea {
        width: 80%;
        margin-right: 1rem;
        border-radius: 10px;
    }

}
.confirmButton{
    
}