@import "@/style/basic.scss";

.formContainer {
    padding-left:5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
    width:100%;
    overflow: hidden;
    .darkMode {
        margin: 0 auto;
       

        label {
            color: var(--font-default);
        }

        textarea {
            background-color: var(--bg-default);
            color: var(--font-default);
        }

        input {
            background-color: var(--bg-default);
            color: var(--font-default);
        }
    }
   
}

.confirmButton {}